@font-face {
  font-family: "GrandSlang-Roman";
  src: url("/fonts/GrandSlang-Roman.otf") format("woff2");
}
*{
    box-sizing: border-box;
    text-align: center;
}

body {
    width: 100%;
    height: 200%;
    margin: 0%;
    padding: 0%;
    background-color: #ece7e1;
    overflow: hidden;
}
.container-ab{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 2%;
    margin-top: 1%;
    padding: 2%;
    gap: 20px;
    position: absolute;
    top: -100vh;
    transition: top 2s ease;
}
body.loaded .container-ab {
    top: 0;
}
body.loaded .ab {
    bottom: 0;
}
body.loaded img {
  bottom: 0;
}
.nav-list-ab {
    width: 2%;
    margin: 10px;
    font-family: "GrandSlang-Roman", sans-serif;
}
  
  .nav-line-ab {
    width: 1px;
    height: 15%;
    background-color: #333;
    margin: 0 20px;
  }
  
  .nav-list-ab a {
    text-decoration: none;
    color: #333;
    transform: rotate(180deg);
    display: inline-block;
    writing-mode: vertical-rl;
  }
  
  .nav-list-ab a:hover {
    text-decoration-line: line-through;
  }
  .ab {
    position: absolute;
    left: 40%;
    width: 30%;
    top: 3.8%;
  }
  .img{
    width: 100%;
    position: absolute;
    left: 5%;
    top: 7.5%;
    height: 60px;
    border: #ece7e1 solid 1px;
    object-fit: fill;
  }
  .ab img {
    position: relative;
    width: 80%;
    left: -40px;
    height: 380px;
    opacity:85%;
  }
  img{
    position: relative;
    left: -20px;
    width: 80%;
    top: 25px;
    transition: bottom 2s ease;
  }
  .ab h1 {
    position: absolute;
    top: -15%;
    font-family: "GrandSlang-Roman", sans-serif;
    font-size: 190px;
    font-weight: 100;
  }
  p{
    position: relative;
  }
  .ab p {
    position: relative;
    font-family:'Courier New', Courier, monospace;
    font-size:14px;
  }
  @media screen and (max-width: 768px) {
    .container-ab {
      width: 10%;
    }
    .ab {
      position: relative;
      left: auto;
      top: 10%;
      width: 100%;
      height: 50%;
      text-align: center;
    }
   .ab img{
    position: absolute;
    left: 35px;
    top: 40px;
    width: 65%;
    height: 300px;
    text-align: center;
   }
   .nav-list a{
    width: 100%;
    position: absolute;
  }
    .nav-list,
    .nav-line {
      display: flex;
      width: 100%;
    }
  }
  .ab h1{
    width: 80%;
    position: relative;
    bottom: 80px;
    left: 30px;
    font-size: 100px;
  }
  .ab p{
    width: 350px;
    position: relative;
    top: 265px;
    left: 20px;
    font-size: 10px;
  }
